<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>MY APP</title>
</head>
<body>
 Esto es reset password.
	<form action="/cambiar_password" method="POST">
		<div>
		<label>Nueva contraseña:</label>
 		<input type="text" name="newPassword"></input>
 		<input type="hidden" name="code"><%=code%></input>
 		<button type="submit">Resetear</button>
 	</div>
 	</form>
 <p>email: <%= email %></p>
 <p>code: <%= code %></p>
</body>
</html>